.container {
    max-width: 800px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  .card {
    margin-top: 20px;
  }
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .btn {
    margin-right: 0.5rem;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .container {
      max-width: 100%;
      padding: 10px;
    }
  
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  .btn-custom {
    width:80%;
    font-size:10px;
  }
    .pagination-controls {
      flex-direction: column;
    }
  
    .pagination .page-item {
      margin-bottom: 5px;
    }
  }
  
  @media (max-width: 576px) {
    .card-header h5 {
      font-size: 1rem;
    }
  
    .table th,
    .table td {
      font-size: 0.875rem;
    }
  }